<form nz-form [formGroup]="validateForm">
  <nz-card [nzTitle]="'common.text.baseInfo' | translate" nzSize="small" nzType="inner">
    <nz-form-item>
      <nz-form-label nzFor="templateId">
        {{ 'page.application.template' | translate }}
      </nz-form-label>
      <nz-form-control [nzErrorTip]="errorTplId">
        <nz-select
          [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
          [nzPlaceHolder]="'common.placeholder.select' | translate: { label: 'page.application.template' | translate }"
          formControlName="templateId"
          (ngModelChange)="tplChange($event)"
          [nzDisabled]="status === 'edit'"
          nzAllowClear
        >
          <nz-option
            [nzValue]="item.backup_id"
            [nzLabel]="item.backup_name"
            *ngFor="let item of backupSelectData"
          ></nz-option>
        </nz-select>
        <ng-template #errorTplId let-control></ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="appName" nzRequired>
        {{ 'page.application.name' | translate }}
      </nz-form-label>
      <nz-form-control [nzErrorTip]="errorName">
        <input
          nz-input
          *ngIf="status !== 'edit'"
          [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
          formControlName="appName"
          [placeholder]="'common.placeholder.input' | translate: { label: 'page.application.name' | translate }"
          trim="blur"
        />
        <input
          nz-input
          *ngIf="status === 'edit'"
          [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
          formControlName="appName"
          [placeholder]="'common.placeholder.input' | translate: { label: 'page.application.name' | translate }"
          trim="blur"
        />
        <ng-template #errorName let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'common.validator.requiredInput' | translate }}
          </ng-container>

          <ng-container *ngIf="control.hasError('duplicated')">
            {{ 'common.validator.appNameDuplicated' | translate }}
          </ng-container>

          <ng-container *ngIf="control.hasError('validName')">
            {{ 'common.validator.validName' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="appStatus" nzRequired>
        {{ 'page.application.status' | translate }}
      </nz-form-label>
      <nz-form-control [nzErrorTip]="errorStatus">
        <nz-select
          [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
          [nzPlaceHolder]="'page.app.list.element.appStatusLabel' | translate"
          formControlName="appStatus"
          [nzDisabled]="appStatusDisable"
        >
          <nz-option [nzLabel]="'page.application.trial' | translate" [nzValue]="true"></nz-option>
          <nz-option [nzLabel]="'page.application.formal' | translate" [nzValue]="false"></nz-option>
        </nz-select>
        <ng-template #errorStatus let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'common.validator.requiredSelect' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="startTime" nzRequired>
        {{ 'page.application.time' | translate }}
      </nz-form-label>
      <nz-form-control [nzErrorTip]="errorTime">
        <nz-date-picker
          formControlName="startTime"
          [ngStyle]="{ width: isSmall ? '105px' : '145px' }"
          [nzPlaceHolder]="'page.application.startDate' | translate"
        ></nz-date-picker>
        <span style="display: inline-block; width: 10px; text-align: center; height: 32px; line-height: 32px">~</span>
        <nz-date-picker
          formControlName="endTime"
          [ngStyle]="{ width: isSmall ? '105px' : '145px' }"
          (ngModelChange)="validateEndTime()"
          [nzPlaceHolder]="'page.application.endDate' | translate"
        ></nz-date-picker>
        <ng-template #errorTime let-control>
          <ng-container *ngIf="control.hasError('compare')">
            {{ 'common.validator.timeCompare' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </nz-card>
  <br />
  <!-- 参数设置 -->
  <ng-container
    *ngIf="selectAppType === 'rent' && status === 'add'; then thenTemplate; else elseTemplate"
  ></ng-container>
  <ng-template #thenTemplate>
    <nz-card [nzTitle]="'page.application.parameterSetting' | translate" nzSize="small" nzType="inner">
      <!-- 短期租赁判断月数 -->
      <nz-form-item>
        <nz-form-label nzFor="shortLeases">
          {{ 'page.application.shortLeases' | translate }}
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="shortLeases"
            [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
            [placeholder]="
              'common.placeholder.input' | translate: { label: 'page.application.shortLeases' | translate }
            "
            trim="blur"
          />
        </nz-form-control>
      </nz-form-item>
      <!-- 小额租赁判断金额 -->
      <nz-form-item>
        <nz-form-label nzFor="minorBaseAmount">
          {{ 'page.application.minorBaseAmount' | translate }}
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="minorBaseAmount"
            [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
            [placeholder]="
              'common.placeholder.input' | translate: { label: 'page.application.minorBaseAmount' | translate }
            "
            trim="blur"
          />
        </nz-form-control>
      </nz-form-item>
      <!-- 期首年月 -->
      <nz-form-item>
        <nz-form-label nzFor="kishuYm" nzRequired>
          {{ 'page.application.firstMonthInYear' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="errorKishuYm">
          <nz-select
            formControlName="kishuYm"
            [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
            [nzPlaceHolder]="
              'common.placeholder.input' | translate: { label: 'page.application.firstMonthInYear' | translate }
            "
          >
            <nz-option nzValue="1" nzLabel="1"></nz-option>
            <nz-option nzValue="4" nzLabel="4"></nz-option>
          </nz-select>
          <ng-template #errorKishuYm let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredInput' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- 处理月度 -->
      <nz-form-item>
        <nz-form-label nzFor="syoriYm" nzRequired>
          {{ 'page.application.handleMonth' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="errorSyoriYm">
          <nz-date-picker
            nzMode="month"
            formControlName="syoriYm"
            [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
            [nzPlaceHolder]="
              'common.placeholder.input' | translate: { label: 'page.application.handleMonth' | translate }
            "
          ></nz-date-picker>
          <ng-template #errorSyoriYm let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredInput' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- 设置特殊字符 -->
      <nz-form-item>
        <nz-form-label nzFor="setSpecial" style="width: 120px">
          {{ 'page.application.checkSpecialChar' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="errorCheckSpecial">
          <input
            nz-input
            formControlName="setSpecial"
            trim="blur"
            [placeholder]="
              'common.placeholder.input' | translate: { label: 'page.application.checkSpecialChar' | translate }
            "
            [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
          />
          <ng-template #errorCheckSpecial let-control>
            <ng-container *ngIf="control.hasError('validSpecial')">
              {{ 'common.validator.validSpecialInput' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-card>
  </ng-template>
  <ng-template #elseTemplate>
    <ng-container *ngIf="selectAppType === 'check' && status === 'add'; then thenTemp; else elseTemp"></ng-container>
    <ng-template #thenTemp>
      <nz-card [nzTitle]="'page.application.parameterSetting' | translate" nzSize="small" nzType="inner">
        <!-- 盘点开始日期 -->
        <nz-form-item>
          <nz-form-label nzFor="checkStartDate" nzRequired style="width: 120px">
            {{ 'page.application.checkStartDate' | translate }}
          </nz-form-label>
          <nz-form-control [nzErrorTip]="errorCheckStartDate">
            <nz-date-picker
              formControlName="checkStartDate"
              [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
              [nzPlaceHolder]="
                'common.placeholder.input' | translate: { label: 'page.application.checkStartDate' | translate }
              "
            ></nz-date-picker>
            <ng-template #errorCheckStartDate let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'common.validator.requiredInput' | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <!-- 设置特殊字符 -->
        <nz-form-item>
          <nz-form-label nzFor="setSpecial" style="width: 120px">
            {{ 'page.application.checkSpecialChar' | translate }}
          </nz-form-label>
          <nz-form-control [nzErrorTip]="errorCheckSpecial">
            <input
              nz-input
              formControlName="setSpecial"
              trim="blur"
              [placeholder]="
                'common.placeholder.input' | translate: { label: 'page.application.checkSpecialChar' | translate }
              "
              [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
            />
            <ng-template #errorCheckSpecial let-control>
              <ng-container *ngIf="control.hasError('validSpecial')">
                {{ 'common.validator.validSpecialInput' | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-card>
    </ng-template>
    <ng-template #elseTemp>
      <!-- 默认暂时没有数据 -->
      <nz-empty></nz-empty>
    </ng-template>
  </ng-template>
  <br />
  <nz-form-item>
    <nz-form-control>
      <nz-space>
        <ng-template nzSpaceItem>
          <button nz-button nzType="primary" (click)="submitForm()" appDebounceClick [disabled]="validateForm.invalid">
            <i nz-icon [nzType]="status === 'edit' ? 'edit' : 'plus'" nzTheme="outline"></i>
            {{ 'common.button.save' | translate }}
          </button>
        </ng-template>
        <ng-template nzSpaceItem>
          <button nz-button *ngIf="status === 'add'" (click)="reset()">
            <i nz-icon nzType="redo" nzTheme="outline"></i>
            {{ 'common.button.reset' | translate }}
          </button>
        </ng-template>
        <ng-template nzSpaceItem>
          <button nz-button (click)="cancel()">
            <i nz-icon nzType="close" nzTheme="outline"></i>
            {{ 'common.button.cancel' | translate }}
          </button>
        </ng-template>
      </nz-space>
    </nz-form-control>
  </nz-form-item>
</form>
