<nz-card>
  <form nz-form [formGroup]="form">
    <nz-tabset>
      <nz-tab [nzTitle]="'common.text.baseInfo' | translate" nzSize="small" nzType="inner">
        <nz-form-item>
          <nz-form-label nzRequired="true">{{ 'page.action.key' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="key">
            <nz-input-group [ngStyle]="{ width: isSmall ? '220px' : '300px' }">
              <input
                nz-input
                formControlName="actionKey"
                [placeholder]="'common.placeholder.input' | translate: { label: 'page.action.key' | translate }"
                [readOnly]="status === 'edit'"
                trim="blur"
              />
            </nz-input-group>
            <ng-template #key let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'common.validator.requiredInput' | translate }}
              </ng-container>
              <ng-container *ngIf="control.hasError('halfAlphaNumber')">
                {{ 'common.validator.halfAlphaNumber' | translate }}
              </ng-container>
              <ng-container *ngIf="control.hasError('duplicated')">
                {{ 'common.validator.typeNameDuplicated' | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired="true">{{ 'page.action.group' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="group">
            <nz-select
              [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
              formControlName="actionGroup"
              [nzPlaceHolder]="'common.placeholder.select' | translate: { label: 'page.action.group' | translate }"
              nzAllowClear
            >
              <nz-option
                *ngFor="let item of groups"
                [nzLabel]="item.label | translate"
                [nzValue]="item.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
          <ng-template #group let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredSelect' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired="true">{{ 'page.action.objtype' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="group">
            <nz-select
              [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
              formControlName="actionObject"
              [nzPlaceHolder]="'common.placeholder.select' | translate: { label: 'page.action.objtype' | translate }"
              [nzDisabled]="status === 'edit'"
              nzAllowClear
            >
              <nz-option
                *ngFor="let item of types"
                [nzLabel]="item.label | translate"
                [nzValue]="item.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
          <ng-template #group let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredSelect' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-item>
      </nz-tab>
      <nz-tab [nzTitle]="'common.text.langInfo' | translate" nzSize="small" nzType="inner">
        <nz-form-item>
          <nz-form-label nzRequired="true">{{ 'page.action.zh' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="name">
            <input
              [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
              nz-input
              formControlName="actionNameZh"
              [placeholder]="'common.placeholder.input' | translate: { label: 'page.action.zh' | translate }"
              trim="blur"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired="true">{{ 'page.action.ja' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="name">
            <input
              [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
              nz-input
              formControlName="actionNameJa"
              [placeholder]="'common.placeholder.input' | translate: { label: 'page.action.ja' | translate }"
              trim="blur"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired="true">{{ 'page.action.en' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="name">
            <input
              [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
              nz-input
              formControlName="actionNameEn"
              [placeholder]="'common.placeholder.input' | translate: { label: 'page.action.en' | translate }"
              trim="blur"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired="true">{{ 'page.action.th' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="name">
            <input
              [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
              nz-input
              formControlName="actionNameTh"
              [placeholder]="'common.placeholder.input' | translate: { label: 'page.action.th' | translate }"
              trim="blur"
            />
          </nz-form-control>
        </nz-form-item>
        <ng-template #name let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'common.validator.requiredInput' | translate }}
          </ng-container>

          <ng-container *ngIf="control.hasError('duplicated')">
            {{ 'common.validator.typeNameDuplicated' | translate }}
          </ng-container>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </form>
</nz-card>
<nz-form-item style="margin-top: 16px">
  <nz-space nzSize="small">
    <ng-template nzSpaceItem>
      <button nz-button nzType="primary" (click)="submitForm()" appDebounceClick [disabled]="!form.valid">
        <i nz-icon nzType="save" nzTheme="outline"></i>
        {{ 'common.button.save' | translate }}
      </button>
    </ng-template>
    <ng-template nzSpaceItem *ngIf="status == 'add'">
      <button nz-button nzType="default" (click)="reset()">
        <i nz-icon nzType="redo" nzTheme="outline"></i>
        {{ 'common.button.reset' | translate }}
      </button>
    </ng-template>
    <ng-template nzSpaceItem>
      <button nz-button nzType="default" (click)="cancel()">
        <i nz-icon nzType="close" nzTheme="outline"></i>
        {{ 'common.button.cancel' | translate }}
      </button>
    </ng-template>
  </nz-space>
</nz-form-item>
